<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
	<ResultsDirectory>./results</ResultsDirectory>
  </RunConfiguration>
  <!-- Configurations for data collectors -->
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0">
        <!-- Code Coverage Settings Start -->
        <Configuration>
          <CodeCoverage>
            <!-- We recommend you do not change the following values: -->
            <UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
            <AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
            <CollectFromChildProcesses>True</CollectFromChildProcesses>
            <CollectAspDotNet>False</CollectAspDotNet>
          </CodeCoverage>
        </Configuration>
        <!-- Code Coverage Settings End -->
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
